## MLFLOW CONFIGURATION ##
MLFLOW_HOST=http://localhost
MLFLOW_PORT=5500
MLFLOW_ARTIFACT_ROOT=/artifacts
MLFLOW_BACKEND_STORE_URI=postgresql+psycopg2://mlflow_user:mlflow_pass@postgres:5432/mlflow_db
MLFLOW_REGISTRY_STORE_URI=postgresql+psycopg2://mlflow_user:mlflow_pass@postgres:5432/mlflow_db
MLFLOW_POSTGRES_DB=mlflow_db
MLFLOW_POSTGRES_USER=mlflow_user
MLFLOW_POSTGRES_PASSWORD=mlflow_pass